
* {
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}


.highlight {
  background-color: yellow;
  color: red;
  padding: 10px;
  border-radius: 5px;
}


#special {
  background-color: lightblue;
  border: 2px solid blue;
  padding: 10px;
  margin-top: 10px;
}


.container p {
  color: darkgreen;
  background-color: #e6ffe6;
  padding: 10px;
  border-left: 5px solid green;
}

h3, p {
  margin: 15px;
  line-height: 1.6;
}
